<!DOCTYPE html>
<html>
<head>
	<meta content ="text?html; charset=UTF-8" http-equiv="Content Type"/>
</head>
<body>
	<h1>Welcome to Nolan Travel</h1>
	<p> You have successfully signed in as Nolan Travel User</p>
	<p> We will contact you with out deals on Holidays </p>
</body>
</html>